.gradient-custom-2 {
    /* fallback for old browsers */
    background-color: white;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(235, 232, 234), rgb(232, 233, 235));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(245, 242, 244), rgb(233, 236, 241))
    }

    body{
   position: relative;
   border-radius: 50px;
   font-size: 10px;
    }
