@charset "UTF-8";
@import url(chat_style.css);

body,ul,li,p{
  margin:0px;
  padding:0px;
  list-style:none;
  font-size: 1.2rem;
  font-family: Arial;
}
a{
  text-decoration: none;
  color: black;
}

.header{
  background-color:rgb(15,150, 213) ;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  
}
.container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  justify-content: center;
  align-items: center
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgb(15,150, 213) ;
  /* adicionando borda e padding*/
  padding: 10px;
  border-radius: 10px;
}
h1{
  font-weight: lighter;
  padding-right: 8px;
}
  /* adicionando h2(title destino), header, txt-header e hover + imagetitle*/
.title-destino {
  padding-top: 10px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}
#header {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#txt-header{
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#txt-header:hover{
  color: rgb(15, 37, 88);
}
.imagetitle {
  height: auto;
  width: 20rem;

}

picture{margin-top: 24px;
  border: 10px solid #0f96d5;
}
p{margin-top: 24px;}
.menu{
  display: flex;
}
.menu li{
  margin-left: 10px;
}
.menu li a{
  display: block;
  padding: 10px;
}
