.header{
background-color:rgb(15, 150, 213);
margin-bottom: 20px;
text-align: center;
}

.header_area{

    padding: 20px;
}

.logo{
    width: 180px;
}


.card{
text-align: center;
flex: 1 1 150px;
margin: 5 px;
justify-content: center;   
}

.menu_area{
    margin-top:30px;

}

.card-body{ 
margin-top:30px;
display: flex;
flex-wrap: wrap;
justify-content: center;    

}

.menu_area nav a{
    background-color:rgb(255,255,255);
    color:rgb(0, 0, 0);
}

.menu_area nav a:hover{
    background-color:rgb(238, 228, 228);
}

.active{
    background-color:rgb(15, 150, 213); !important;
}


.main{
background-color:rgb(255, 255, 255);

}

.footer{
    background-color:rgb(15, 150, 213);
    margin-top: 20px;
    color: white;

}

.footer_area{
    padding: 20px;
    text-align: center;
}
/* HEADER */
@media (max-width:991.98px) {
    #header .baixo {
        width: 100%;
    }
}

.navbar-toggler {
    border-color: #222222;
}

.toggler-icon {
    color: white;
}

.logo {
    padding-left: 5%;
}

#header {
    width: 100%;
    background-color: #1875a0;
}

#header.active {
    z-index: 9999;
    box-shadow: 5px 4px 10px black;
    
}

.nav-link {
    color: white;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: rgb(66, 115, 184);
    text-shadow: 2px 2px 3px rgb(10, 36, 73);
}

.navbar ul li {
    text-shadow: 2px 1px 3px rgb(10, 36, 73);
}
.nav-item {
    font-size: larger;
    font-weight: bolder;
}

