.header{
background-color:rgb(15, 150, 213);
margin-bottom: 20px;
text-align: center;
align-items: center;
justify-content: space-between;
display: 20px;

}

.header_area{

    padding: 20px;
    display:block;
    padding: .8rem;
}

.logo{
    width: 180px;
}

.card{
text-align: center;
display: flex; align-items: center;

}

.card-img-top{display: flex;
    align-items: center;

}

.menu_area{
    margin-top:30px;

}
.menu_area nav a{
    background-color:rgb(255,255,255);
    color:rgb(0, 0, 0);
}

.menu_area nav a:hover{
    background-color:rgb(238, 228, 228);
}

.active{
    background-color:rgb(255, 165, 0) !important;
}


.main{
background-color:rgb(255, 255, 255);

}

.footer{
    background-color:rgb(15, 150, 213);
    margin-top: 20px;
    color: white;

}

.footer_area{
    padding: 20px;
    text-align: center;
}

#btn-mobile {
    
  }
  
  @media (max-width: 600px) {
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: #e7e7e7;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
