body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: #b8d8e7;
}
/* HEADER */
@media (max-width:991.98px) {
    #header .baixo {
        width: 100%;
    }
}

.navbar-toggler {
    border-color: #222222;
}

.toggler-icon {
    color: white;
}

.logo {
    padding-left: 5%;
}

#header {
    width: 100%;
    background-color: #1875a0;
}

#header.active {
    z-index: 9999;
    box-shadow: 5px 4px 10px black;
    
}

.nav-link {
    color: white;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: rgb(66, 115, 184);
    text-shadow: 2px 2px 3px rgb(10, 36, 73);
    text-decoration: none;

}

.navbar ul li {
    text-shadow: 2px 1px 3px rgb(10, 36, 73);
}
.nav-item {
    font-size: larger;
    font-weight: bolder;
}
#botoes{
text-align: center;
padding-top: 1.8rem;
}
