@import url(./bootstrap.min.css);

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: #b8d8e7;
}
main {
    position: relative;
    height: calc(100vh - 115px) !important;
}

/* HEADER */
@media (max-width:991.98px) {
    #header .baixo {
        width: 100%;
    }
}

.navbar-toggler {
    border-color: #222222;
}

.toggler-icon {
    color: white;
}

.logo {
    padding-left: 5%;
}

#header {
    width: 100%;
    background-color: #1875a0;
}

#header.active {
    z-index: 9999;
    box-shadow: 5px 4px 10px black;

}

.nav-link {
    color: white;
    font-weight: bold;
}

.navbar ul li a:hover {
    color: rgb(66, 115, 184);
    text-shadow: 2px 2px 3px rgb(10, 36, 73);
}

.navbar ul li {
    text-shadow: 2px 1px 3px rgb(10, 36, 73);
}
.nav-item {
    font-size: larger;
    font-weight: bolder;
}
    div {
        text-align: center;
        
    }
    button{ background-color: #1875a0;
        color: rgb(255, 255, 255);
        font-size:xx-large;
        margin-top: 24px;
        border-radius: 8px;
        border: none;
        font-weight: 700;
        width: 30%;
        box-shadow: 4px 4px 8px black;
        transition: box-shadow 0.3s ease, trasnform 0.3s ease;
        
        
        }
    button:active{
        box-shadow: 0 0 0 0, inset  4px 4px 8px black;
        transform: translate(3px, 3px);
    }
    h1:hover{
        color: rgb(66, 115, 184);
    text-shadow: 2px 2px 3px rgb(10, 36, 73);
    }
   
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .menu-menu{
        border: 1px solid  rgb(7, 126, 182);
        border-radius: 3px;
        background-color: azure;
        box-shadow:2px 2px 2px 2px  rgb(0, 0, 0);
        position:absolute;
        margin-top: 15%;
        margin-left: 8px;
        margin-right: 8px;
    
    }
    li{
        padding: 0.2em 0.4em;
        cursor: pointer;
    }
    
    iframe{
        margin-top: 24px;
        width: 90%;
        box-shadow: 4px 4px 8px 8px black;
        border-radius: 8px;
        position: flex;
        align-content: center;
        height:450
    }
    /* FOOTER */
.footer-chat {
    color: white;
    background: rgb(7, 126, 182);
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding:10px;
    height: 42px;
    text-align: center;
    position:static;
    margin-top: 1.12cm;
    
}
footer a {
    font-style: normal;
    color: rgb(255, 255, 255);
}


